<div class="container mt-5">
    <h2 class="text-center mb-4">Productos Destacados</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{prod.photo}}" class="card-img-top" alt="{{this.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{prod.title}}</h5>
                    <p class="card-text">{{prod.category}}</p>
                    <p class="card-text"><strong>Precio: ${{prod.price}}</strong></p>
                    <p class="card-text"><strong>Stock: {{prod.stock}} u.</strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="/products" class="btn btn-primary">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>