<h2 class="text-black text-left m-3">Productos destacados</h2>
<section class="d-flex flex-wrap p-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-primary">Filtrar por:</h5>
                <form class="bg-light p-4 rounded shadow-sm" >
                    {{!-- <input type="text" class="form-control mb-2" placeholder="Buscar..." aria-label="Buscar"> --}}
                    <select name="category" class="form-control mb-2">
                        <option value="" disabled selected >Seleccionar</option>
                        <option value="abirgo">Abirgo</option>
                        <option value="camisas">Camisas</option>
                        <option value="pantalones">Pantalones</option>
                        <option value="zapatillas">Zapatillas</option>
                    </select>
                    <button  type="submit" class="btn btn-primary btn-block">Aplicar</button>
                </form>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {{#each product}}
                    <div id="filterProducts" class="col-md-3 mb-4">
                        <div class="card border-dark shadow-sm" style="background-color: #e7f1ff;">
                            <img src={{this.photo}} class="card-img-top" alt={{this.title}} style="max-height: 200px; object-fit: cover;">
                            <div class="card-body"> 
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text text-muted">{{this.category}}</p>
                                <p class="card-text mb-0"><strong>Precio: $ {{this.price}}</strong></p>
                                <p class="card-text"><strong>Sstock: {{this.stock}} u.</strong></p>
                                <div class="d-flex justify-content-center flex-wrap">
                                    <a href="/cart/{{this.id}}" class="btn btn-success m-2">Agregar al carrito</a>
                                    <a href="/products/{{this.id}}" class="btn btn-primary m-2">Ver detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>