<h1 class="text-center m-4">Detalles del Usuario</h1>
<div class="container shadow p-4 rounded">
    <div class="row bg-light p-3 rounded">
        <div class="col-md-4 d-flex justify-content-center">
            <img src="{{user.photo}}" alt="Foto de {{user.email}}" class="img-fluid rounded" style="width: 200px; height: 200px;">
        </div>
        <div class="col-md-8">
            <p><strong>Correo electrónico: </strong>{{user.email}}</p>
            <p><strong>Rol: </strong> {{user.role}}</p>
            <p><strong>ID Usuario: </strong> {{user.id}}</p>
            <p class="d-flex align-items-center m-auto">
                <strong>Contraseña: </strong>
                <input type="password" value="{{user.password}}" readonly class="form-control-plaintext ms-2" style="border: none; background: transparent;">
            </p>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center m-4">
        <a href="/" class="btn btn-primary btn-lg">Volver al home</a>
    </div>
</div>
